.widget{
    width: 61%;
    padding: 14px;
    
    display: flex;
    justify-content: space-between;
    color: grey;
    .firstP {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondP{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
