.list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .wid {
      margin-left: 40px;
    }
}
.wid1{
  margin-left: 0px !important;
    width: 80%;
    background: white;

    .corblue{
        background-color: #30a5ff;
        width: 40%;
        height: 100%;
        float: left;

        .icon{
            height: 100%;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            .iconsize{
                height: 60%;
                width: 60%;
            }
        }
    }
    .fundoWidget{
        width: 60%;
        background: white;
        float: right;
    }
}
.wid2{
    width: 80%;
    background: white;

    .coryellow{
        background-color: #ffb53e;
        width: 40%;
        height: 100%;
        float: left;

        .icon{
            height: 100%;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            .iconsize{
                height: 60%;
                width: 60%;
            }
        }
    }
    .fundoWidget{
        width: 60%;
        background: white;
        float: right;
    }
}
.wid3{
    width: 80%;
    background: white;

    .corgreen{
        background-color: #1ebfae;
        width: 40%;
        height: 100%;
        float: left;

        .icon{
            height: 100%;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            .iconsize{
                height: 60%;
                width: 60%;
            }
        }
    }
    .fundoWidget{
        width: 60%;
        background: white;
        float: right;
    }
}
.wid4{
    width: 80%;
    background: white;

    .corred{
        background-color: #f9243f;
        width: 40%;
        height: 100%;
        float: left;

        .icon{
            height: 100%;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            .iconsize{
                height: 60%;
                width: 60%;
            }
        }
    }
    .fundoWidget{
        width: 60%;
        background: white;
        float: right;
    }
}
.namedash{
    width: 100%;
    color: #756164;
}
